<div class="flex w-full items-end gap-2" [ngClass]="{
    'justify-start': isBot(),
    'justify-end': !isBot()
  }">

  <!-- 🤖 BOT PROFILE (LEFT ONLY) -->
  <ng-container *ngIf="isBot()">

    <div class="
      w-9 h-9
      rounded-full
      bg-[#6B3293]
      text-white
      flex items-center
      justify-center
      text-sm
      font-bold
      flex-shrink-0
      shadow
      ">
      🤖
    </div>

  </ng-container>


  <!-- 💬 MESSAGE BUBBLE -->

  <div class="
    max-w-[75%]
    px-4 py-3
    rounded-2xl
    text-sm
    break-words
    shadow-sm
    leading-relaxed
    " [ngClass]="{

      'bg-gray-100 text-gray-800 rounded-bl-none':
        isBot(),

      'bg-[#6B3293] text-white rounded-br-none':
        !isBot()

    }">

        <div [innerHTML]="formatMessage(message.content)"></div>

    </div>

</div>