<div class="relative w-full">
  <input [type]="showPassword ? 'text' : 'password'" [placeholder]="placeholder" [name]="name" [ngModel]="value"
    (ngModelChange)="onInputChange($event)" [required]="required"
        class="
          w-full
          px-3 py-2.5 pr-10
          text-sm
         border border-slate-300 rounded-lg
          bg-white outline-none transition
          focus:border-[#6F2C91]
          focus:ring-2 focus:ring-[#6F2C91]/10
          placeholder:text-slate-400
          md:px-4 md:py-3.5 md:text-base 
        "
      />
  <button type="button" (click)="togglePassword()"
    class="absolute right-2 top-1/2 -translate-y-1/2 text-slate-500 hover:text-slate-700">
    <app-icon-unview *ngIf="!showPassword"></app-icon-unview>
    <app-icon-view *ngIf="showPassword"></app-icon-view>
  </button>
</div>