<!-- services-list.page.html -->
<div class="p-4 md:p-6 space-y-6 max-w-[2560px] mx-auto">
    <header class="sticky flex w-full items-center justify-between">
        <h1 class="text-xl font-bold text-slate-900">Our Services</h1>
        <!-- Pass allServices to the dropdown for dynamic filtering -->
        <app-category-dropdown [services]="allServices" (categoryChange)="handleCategoryFilter($event)">
        </app-category-dropdown>
    </header>

    <main>
        <!-- Use filteredServices here -->
        <app-service-card-component [services]="filteredServices" (cardSelected)="onCardClick($event)">
        </app-service-card-component>
    </main>
</div>