<div [@chatAnimation]="state" class="
  fixed bottom-0 right-0

  /* 📱 MOBILE = FULL SCREEN */
  w-full h-full

  /* 🖥️ DESKTOP */
  sm:bottom-6 sm:right-6
  sm:w-[380px]
  sm:h-[520px]

  md:h-[70vh]

  bg-white
  rounded-lg
  border
  flex flex-col
  overflow-hidden
  z-50
  ">

    <!-- HEADER -->
    <div class="
    flex items-center justify-between
    px-4 py-3
    border-b
    bg-white
    ">

        <div class="flex items-center gap-2">

            <!-- Bot Avatar -->
            <div class="
                w-8 h-8
                rounded-full
                bg-[#6B3293]
                flex items-center justify-center
                font-bold
        ">
                🤖
            </div>

            <span class="font-semibold text-slate=700 ">

                Assistant

            </span>

        </div>

        <!-- Close -->
        <button (click)="close.emit()" class="text-slate=700  text-lg">
            ✕
        </button>

    </div>


    <!-- MESSAGES AREA -->
    <div class="
    flex-1
    overflow-hidden
    ">

        <app-chat-messages class="block h-full">
        </app-chat-messages>

    </div>


    <!-- INPUT -->
    <div class="
    border-t
    ">

        <app-chat-input>
        </app-chat-input>

    </div>

</div>