<div
    [style.backgroundColor]="bgColor"
    class="flex items-center justify-between rounded-xl border border-slate-200 p-5 shadow-sm transition-shadow duration-300 hover:shadow-md md:p-6 2xl:p-8 min-[3840px]:p-12">
    <div class="space-y-1 2xl:space-y-2 min-[3840px]:space-y-4">
        <p class="text-xs font-semibold uppercase tracking-wide text-slate-500 2xl:text-base min-[3840px]:text-2xl">
            {{ label }}
        </p>
        <p class="text-2xl font-bold text-slate-900 2xl:text-4xl min-[3840px]:text-6xl">
            {{ value | number }}
        </p>
    </div>
</div>
